churn_classifier
.env
venv
*.csv
mlruns/
great_expectations
artifacts/
configs
data/raw/
data/processed/
docker
tests
setup_gx.py
__pycache__/
*.py[cod]
*$py.class
.DS_Store
!src/serving/model/
!src/serving/model/**