numpy
pandas
scikit-learn
scikit-optimize
imblearn
joblib
matplotlib
seaborn
xgboost
lightgbm
FastAPI
mlflow
uvicorn
pydantic
python-dotenv
great-expectations
pytest
statsmodels
optuna
posthog
black
jinja2
streamlit
psutil